html{
    background-color: #222;
}
body{
    background-color: #222;
    color:white;
}

.nav{
    background-color: #555;
    align-content: center;
}

.nav-item{
    border: solid black 1px;
    margin: 5px;
    padding: 2px;
}

.nav a{
    color: white;
}

.jumbotron{
    background: url("Images/background.jpg") no-repeat center;
    background-size: 100%;
}

.projects-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.my-stuff{
    display: inline-flex;
}

.content{  
    background-color: #444;
    height: 100%;
    float: right;
    text-align: Left;
    width: 85%
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }

.carousel{
    width: 640px;
    height: 360px;
}