html{
    background-color: #222;
}
body{
    background-color: #222;
    color:white;
}

.nav{
    background-color: #555;
    align-content: center;
}

.nav-item{
    border: solid black 1px;
    margin: 5px;
    padding: 2px;
}

.nav a{
    color: white;
}

.jumbotron{
    background: url("Images/background.jpg") no-repeat center;
    background-size: 100%;
}

.projects-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.my-stuff{
    background: #222;
    margin: 15px;
    box-sizing: content-box;
}

.my-image{

}

.bd-example{
    margin: 0px auto;
}

.information{
    padding: 15px;
    margin: 0 auto;
    align-content: center !important;
    text-align: center;
    background: #444;
}

.content{  
    display: inline-flex;
    background-color: #444;
    height: 100%;
    width: 90%;
    text-align: left;
    padding: 10px 0px;
}


.carousel{
    margin: 0 auto;
}

.webgl-content{
    background: rgba(255, 255, 255, 0.288);
    margin: 0 auto;
    padding: 0 auto;
    width: 960px;
}
footer{
    font-size: 14px;
    margin: 5px;
}

.game-info{
    text-align: center;
    padding: 5px 30px;  
    margin: 10px 10px;  
}

.my-image{
    border-radius: 20px;
}

.home-button{
    float: left;
}

.list-group-item{
    text-align: center;
    background: #444;
}

.list-group-item a{ 
    color: #FFF;
    background: #444;
}